/* style.css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
}

header {
    background-color: #000000;
    color: white;
}

h1, h2, h3 {
    font-weight: bold;
    color: #f44336;
}

.btn-warning {
    background-color: #fbc02d;
    border: none;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.section {
    padding: 60px 0;
}

#fanMessage {
    resize: none;
}
